body {
    font-family: 'Helvetica Light', sans-serif; /* Change font to Helvetica Light */
    margin: 0;
    padding: 0;
    background-color: #0077be; /* Light blue background, reminiscent of water */
    color: #333333; /* Dark text for contrast */
}

header {
    background-color: white; /* Dark blue, like deep ocean water */
    color: #0077be;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

main {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
    text-align: justify; /* Justify text within section */
    padding-right: 1%;
}

section h2 {
    color: #0077be; /* Ocean blue for headings */
    margin-bottom: 10px;
}

footer {
    background-color: #0077be;
    color: white;
    text-align: center;
    padding: 1em 0;
}

@media screen and (max-width: 768px) {
    main {
        width: 95%;
    }
}
/* FILEPATH: /Users/rachit/Documents/GitHub/Tidal/styles.css */

body {
    font-family: 'Helvetica Light', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Light', Arial, sans-serif;
}

p {
    font-family: 'Helvetica Light', Arial, sans-serif;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0077be;
    z-index: 9999;
}

.navigation-bar a {
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navigation-bar a:hover {
    background-color: rgb(184, 114, 9);
}
